
.medium-6.large-4.columns.left
  %form.form
    -if item.foto_url
      %img{src: item.foto_url}
    .form-content

      %h5= item.name

      .progress
        -count_percent = count_percent(item)
        %span{class: "meter #{percent_color(count_percent)}", style: "width:#{count_percent}%"}
        .center="#{count_percent}%"

      %h6= "Кво: #{item.count}"
      %p.post-title
        - c = item.cell
        - s = c.sector
        - w = s.warehouse
        = link_to(w,w) + " > " +  link_to(s,s) + " > " + link_to(c,c)
      .form-row
        = link_to "Изменить", edit_item_path(item), class:"button tiny secondary"
        = link_to "Удалить",  item, class:"button tiny secondary",
                                    method: :delete,
                                    data: {confirm: 'Are you sure?'}
